@model IEnumerable<LiftoffRMAV.Models.Games>

    @{ 

    Layout = "~/Views/Shared/_Layout.cshtml";

    }
<h1>Games</h1>

<form asp-controller="Items" asp-action="Add" method="post">
    <table class="table">
        <thead>
            <tr>
                <th style="border-top:none" >
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th style="border-top:none">
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th style="border-top:none">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                @if (User.Identity.IsAuthenticated)
                {
                <th style="border-top:none">
                    Add Games
                </th>
                }
                
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="border:none">
                        @item.Title
                    </td>
                    <td style="border:none">
                        @item.Genre
                    </td>
                    <td style="border:none">
                        @item.Price
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <td style="border:none">
                        <input type="checkbox"  name="gameIds" id="@item.ID"  value="@item.ID" />
                        <label for="@item.ID">Add Game</label>

                    </td>
                    }
                </tr>
            }

        </tbody>
    </table>
    @if (User.Identity.IsAuthenticated)
    {
  <input type="submit" value="Add Games" />
    }
</form>
    
        
    