@model IEnumerable<LiftoffRMAV.Models.Items>

<h1>My Game List</h1>

<table class="table">
    <thead>
    <tr>
        <th style="border-top:none"> @Html.DisplayNameFor(model => model.Games.Title)</th>
        <th style="border-top:none"> @Html.DisplayNameFor(model => model.Games.Genre)</th>
        <th style="border-top:none"> @Html.DisplayNameFor(model => model.Games.Price)</th>
    </tr>
    </thead>
    
        @foreach (var item in Model)
        {
    <tr>
        <td style="border:none">@item.Games.Title</td>
        <td style="border:none">@item.Games.Genre</td>
        <td style="border:none">@item.Games.Price</td>
    </tr>
        }
   
</table>
