@model IEnumerable<LiftoffRMAV.Models.Items>

<h1>My Game List</h1>

<table class="table">
    @*<tr>
        <th> @Html.DisplayNameFor(model => model.Games.Title)</th>
        <th> @Html.DisplayNameFor(model => model.Games.Genre)</th>
        <th> @Html.DisplayNameFor(model => model.Games.Price)</th>
    </tr>*@
    
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.Games.Title</td>
        <td>@item.Games.Genre</td>
        <td>@item.Games.Price</td>
    </tr>
        }
   
</table>
